@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0F0F0F;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
  }
}

/* Custom modern thin scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #181818;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

.spotlight-active-element {
  position: relative !important;
  z-index: 54 !important;
}

select {
  background-color: #202020 !important;
  color: #FFFFFF !important;
}

option {
  background-color: #202020 !important;
  color: #FFFFFF !important;
}


